* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #000;
}

.navbar {
  height: 70px;
  background-color: #bb9eff;
  margin-bottom: 80px;
}

nav {
  max-width: 1080px;
  margin: auto;
  height: 70px;
}

nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3d00cc;
}

.header {
  display: grid;
  max-width: 1080px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.col-2 h1 {
  font-size: 2.5rem;
  padding: 20px;
}

.col-2 p {
  color: #b6b0b0;
  line-height: 1.6;
  margin: 0 0 40px;
}

.btn {
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  background-color: #bb9eff;
  border: 0;
  padding: 7px 30px;
  display: inline-block;
}

.btn:hover {
  color: #fff;
  transition: 0.3s;
  background-color: #3d00cc;
}
